---
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle: string = "AstroPico";
---

<BaseLayout pageTitle={pageTitle}>
	<main class="container">
		<artile>
			<textarea id="markdown-editor"></textarea>
		</artile>
	</main>
</BaseLayout>
