#floating-toolbar {
	display: block;
	position: fixed;
	top: 2rem;
	right: 2rem;

	> .toolbar-button {
		min-width: 2rem;
		min-height: 2rem;
		padding: 0.2rem;

		> svg {
			display: block;
			width: 100%;
			height: 100%;
		}
	}

}
